@media screen and (min-width: 768px) {
  .header {
      height: 20%;
  }
  .header__title {
      padding: 3% 0;
  }
  .header__comment {
      margin-bottom: 0;
  }
  .contents {
      width: 80%;
      margin: 0 auto;
      text-align: center;
  }
  .contents__title {
      display: block;
      margin-bottom: 40px;
      padding: 18px 0;
      color: #FFF;
      background-color: #000;
  }
  .contents__articleList {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      grid-auto-rows: 1fr;
      grid-gap: 0.8em;
  }
  .contents__article {
      margin: 0.8em;
  }
  .footer {
    text-align: center;
  }
}
